
* {
  font-family: 'Nunito Sans', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  /* text-transform: uppercase; */
}


#top-page-reference {
  /* display: none; */
}

.logo {
  width: 100%;
  max-width: 250px;
  max-height: 130px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 25px;
}

.nav_item {
  margin-right: 50px;
  color: #050505;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.decoration {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.decoration_2 {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5%;
  background-color: #050505;
  opacity: 0.40;
  margin-right: 25px;
  margin-bottom: 10px;
  z-index: 2;
}

h2 {
  font-size: 27px;
  font-weight: 200;
  color: white;
  margin-top: 20px;
  margin-left: 0px;
}

.form_with_header_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/wood_edit.jpg');
  background-size: 100%;
  background-position: top;
  margin-bottom: 0px;
}

.form_wrapper {
  background-color: #EEEEEE;
  width: 310px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 6px;
}

.form-item {
  margin-left: 25px;
  margin-bottom: 10px;
}

label.primary {
  font-size: 12pt;
  display: block;
}

input {
  width: 150px;
  height: 20px;
}

select {
  width: 150px;
  height: 20px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.save_button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  margin-right: 14px;
  cursor: pointer;
}

.delete_all_button {
  background-color: #DE6B48;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  cursor: pointer;
}

.colour-block {
  background-color: #D3BCC4;
  height: 30px;
}

#recipes-container {
  display: none;
}





/* FOOD DIARY SECTION*/

#food-list-outer-container {
  background-color: #D3BCC4;
  padding-bottom: 30px;
}

#food-list {
  min-height: 500px;
  border: 1px solid #D3D3D3;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: white;
  text-transform: capitalize;
}

#food-list h2 {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* food item div */
.food-item {
  width: 200px;
  margin: 5px auto;
  text-align: center;
  margin-bottom: 20px;
}

.food-item-heading {
  text-align: center;
  font-weight: lighter;
}

.item-delete-button {
  background-color: #DE6B48;
  font-size: 10pt;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 14px;
  margin-bottom: 15px;
}

.item-expand-button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 15px;
}

.item-details-list {
  padding: 10px;
}

.item-details-list li {
  list-style-type: none;
}


/* CHARTS */

#charts-outer-div {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* background-color: #F1E7E6; */
  margin-top: 50px;
  margin-bottom: 50px;
}

#chart-container {
  min-width: 310px;
  width: 40%;
  height: 500px;
  margin-right: 100px;
}

#spider-chart-container {
  min-width: 310px;
  width: 40%;
  height: 500px;
}

#line-chart-container {
  min-width: 310px;
  width: 75%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#line-chart-div {
  text-align: center;
}

#line-chart-div h3 {
  /* text-align: center; */
}

#line-chart-options {
  /* text-align: center; */
}


/* SUMMARY VIEW */

#summary-container {
  display: none;
}

#summary-heading {
  color: black;
}

.summary-details-list {

}

.summary-details-list li {

}


/* RECIPE BUTTONS */

#recipe-buttons-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* width: 100%;
  margin: 0 auto;
  text-align: center; */
}

.recipe-for-nutrient-button {
  padding: 10px;
  margin: 15px;
  background-color: #8EC63F;
  color: white;
  cursor: pointer;
}

/* RECIPES */

#recipes-container {

}

/* RECPIES FILTER FORM */


#filter-selection-div{

}

.filter-radio{

}

.filter-radio input {

}

.filter-radio label {

}

#exlusions-div {

}

.filter-text-div {

}

#exclusions {

}

/* RECIPES SUGGESTIONS RESULTS */


#recipe-suggestions {

}

.recipe-suggestions-heading {
  color: black;
  text-align: center;
  font-weight: bold;
}

.no-recipe-results-message {

}

.recipe-images-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe-title-img-div {
  margin: 20px;

}

.recipe-title-img-div a img {
  width: 400px;
}

.recipe-title-img-div a h3 {
  text-align: center;
  margin: 5px;
}

.title-of-recipe {
  text-decoration: none;
  color: black;
}
