
* {
  font-family: 'Nunito Sans', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  /* text-transform: uppercase; */
}


#top-page-reference {
  /* display: none; */
}

.logo {
  width: 100%;
  max-width: 250px;
  max-height: 130px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav_bar_date_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 25px;
}

.nav_item {
  margin-right: 50px;
  color: #050505;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.date_selector_container {
  background-color: #D2E8B7;
  margin-right: 25px;
  margin-bottom: 5px;
  /* padding: 6px; */
  padding-top: 6pt;
  padding-bottom: 6pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.date_selector_label {
  /* color: white; */
  color: #050505;
  font-size: 12pt;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

.date_selector_drop_down {
  text-align: center;
  padding-left: 55px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
}

.decoration {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.decoration_2 {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5%;
  background-color: #050505;
  opacity: 0.40;
  margin-right: 25px;
  margin-bottom: 26px;
  z-index: 2;
}


h2.black_background {
  background-color: #050505;
  opacity: 0.70;
  width: 316px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 27px;
  font-weight: 200;
  color: white;
  margin-top: 20px;
  margin-left: 0px;
}

.form_with_header_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/wood_edit.jpg');
  background-size: 100%;
  background-position: top;
  margin-bottom: 0px;
}

.form_wrapper {
  background-color: #EEEEEE;
  width: 310px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 6px;
}

.form-item {
  margin-left: 25px;
  margin-bottom: 10px;
}

label.primary {
  font-size: 12pt;
  display: block;
}

input {
  width: 150px;
  height: 20px;
  padding-left: 10px;
  /* text-align: center; */
}

select {
  width: 150px;
  height: 20px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.save_button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  margin-right: 14px;
  cursor: pointer;
}

.delete_all_button {
  background-color: #E06C7B;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  cursor: pointer;
}

.colour-block {
  background-color: #D3BCC4;
  height: 30px;
}

#recipes-container {
  display: none;
}





/* FOOD DIARY SECTION*/

#food-list-outer-container {
  background-color: #D3BCC4;
  padding-bottom: 30px;
}

#food-list {
  min-height: 500px;
  border: 1px solid #D3D3D3;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #FCF1F3;
  text-transform: capitalize;
}

#food-list h2 {
  text-decoration: underline;
  color: #050505;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* food item div */
.food-item {
  width: 300px;
  margin: 5px auto;
  text-align: center;
  margin-bottom: 20px;
}

.food-item-heading {
  text-align: center;
  font-weight: lighter;
}

.food-item-button-container {

}

.item-delete-button {
  background-color: #E06C7B;
  font-size: 10pt;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 15px;
}

.item-expand-button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 15px;
}

.item-details-list {
  padding: 30px;
  border: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #AAAAAA;
}

.item-details-list li {
  list-style-type: none;
  margin-bottom: 12px;
}


/* CHARTS */

#all-charts-container {
  background-color: rgba(253, 251, 217, 1);
  padding-bottom: 10px;
}

#charts-outer-div {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* background-color: #F1E7E6; */
  padding-top: 50px;
  margin-bottom: 50px;
  /* background-color: rgba(253, 251, 217, 1); */
}

#chart-container {
  min-width: 310px;
  width: 40%;
  height: 500px;
  margin-right: 100px;
}

#spider-chart-container {
  min-width: 310px;
  width: 40%;
  height: 500px;
}

#summary-heading {
  color: #050505;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  background-color: rgba(253, 251, 217, 1);
  padding-top: 20px;
}

#line-chart-outer {
  background-color: rgba(253, 251, 217, 1);
}

#line-chart-container {
  min-width: 310px;
  width: 75%;
  height: 500px;
  margin: 0 auto;
}

#line-chart-div {
  text-align: center;
  margin-bottom: 30px;
}

#line-chart-div h3 {
  text-decoration: underline;
  text-transform: uppercase;
}

#line-chart-options {
  text-align-last:center;
  margin: 10px 0 5px 0;
}


/* SUMMARY VIEW */

#summary-container {
  display: none;
  text-align: center;
}

#summary-heading {
  color: black;
}

.summary-details-list {

}

.summary-details-list li {

}


/* RECIPE BUTTONS */

#recipe-buttons-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 26px;
}

.recipe-for-nutrient-button {
  padding: 10px;
  margin-right: 20px;
  background-color: #8EC63F;
  color: white;
  cursor: pointer;
  font-size : 15px;
}

/* RECIPES */

#recipes-container {
  /* border: 1px solid black; */
  /* text-align: center; */
  /* margin-top: 30px; */
  /* padding-bottom: 15px; */
}

#recipes-container h3 {
  font-size: 13pt;
  color: #050505;
  text-align: center;
  /* margin: 15px 0; */
  padding-bottom: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* RECPIES FILTER FORM */


#filter-selection-div{
  width: 50%;
  margin: 0 auto;
  border: 1px solid #BABABA;
}

#filter-form-and-title-div {
  background-color: white;
  padding: 15px 0px;

}

form #filter-recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  margin-bottom: 10px;
}


.filter-radio {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

.filter-radio input[type="radio"] {
  width: 20px;
}

.filter-radio label {
  /* border: 1px solid black; */
  display: inline-block;
  width: 250px;
  text-align: center;
}

#exlusions-div {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

#exclusions-div label {
  padding: 20px;
  background-color: white;
}

.filter-text-div {
  margin: 15px;
}

#exclusions {
  background-color: #FCF1F3;
  border: 1px solid #BABABA;
  text-align: center;
  width: 50%;
  height: 30px;
}

.filter_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#filter-recipe-button {
  background-color: #E06C7B;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  margin-right: 14px;
  cursor: pointer;
}

#exlusions-label-div{
  background-color: white;
  /* border: 1px solid black; */
  padding: 10px;
}

/* RECIPES SUGGESTIONS RESULTS */


#recipe-suggestions {
  background-color: rgba(142, 198, 63, 0.2);
  padding-top: 20px;
  margin-top: 0px;

}

.recipe-suggestions-heading {
  color: #050505;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-recipe-results-message {

}

.recipe-images-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe-title-img-div {
  margin: 20px;

}

.recipe-title-img-div a img {
  width: 400px;
}

.recipe-title-img-div a h3 {
  color: #050505;
  text-align: center;
  margin-bottom: 15px;
}

.title-of-recipe {
  text-decoration: none;
  color: black;
}
