
* {
  font-family: 'Nunito Sans', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  max-width: 250px;
  max-height: 130px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 25px;
}

.nav_item {
  margin-right: 50px;
  color: #050505;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.decoration {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.decoration_2 {
  background-color: #D1D1D1;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
}

h2 {
  font-size: 27px;
  font-weight: 200;
  color: white;
  margin-top: 15px;
  margin-left: 0px;
}

.form_with_header_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/wood_edit.jpg');
  background-size: 100%;
  background-position: top;
  margin-bottom: 30px;
}

.form_wrapper {
  background-color: #EEEEEE;
  width: 310px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 6px;
}

.form-item {
  margin-left: 25px;
  margin-bottom: 10px;
}

label.primary {
  font-size: 12pt;
  display: block;
}

input {
  width: 150px;
  height: 20px;
}

select {
  width: 150px;
  height: 20px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.save_button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
  margin-right: 14px;
}

.delete_all_button {
  background-color: #8EC63F;
  font-size: 10pt;
  color: white;
  width: 120px;
  height: 25px;
}

#recipes-container {
  display: none;
}






/* JS CREATED STUFF */

/* FOOD ITEM STUFF FROM LIST_VIEW.JS */

/* food item div */
.food-item {

}

.food-item-heading {

}

.item-delete-button {

}

.item-expand-button {

}

.item-details-list {

}

.item-details-list li {

}
